[submodule "auto-complete"]
	path = auto-complete
	url = http://cx4a.org/repo/auto-complete.git
[submodule "org-mode"]
	path = org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "slime"]
	path = slime
	url = http://github.com/nablaone/slime.git
[submodule "clojure-mode"]
	path = clojure-mode
	url = git://github.com/jochu/clojure-mode.git
[submodule "yasnippet"]
	path = yasnippet
	url = http://github.com/crazycode/yasnippet.git
[submodule "swank-clojure"]
	path = swank-clojure
	url = git://github.com/jochu/swank-clojure.git
[submodule "cedet-haskell"]
	path = cedet-haskell
	url = http://github.com/hometown/cedet-haskell.git
[submodule "auctex"]
	path = auctex
	url = git://github.com/kjhealy/auctex.git
[submodule "magit"]
	path = magit
	url = http://github.com/philjackson/magit.git
[submodule "yaml-mode"]
	path = yaml-mode
	url = http://github.com/yoshiki/yaml-mode.git
[submodule "doxymacs"]
	path = doxymacs
	url = git://doxymacs.git.sourceforge.net/gitroot/doxymacs/doxymacs
[submodule "emacs-jabber"]
	path = emacs-jabber
	url = git://emacs-jabber.git.sourceforge.net/gitroot/emacs-jabber/emacs-jabber
[submodule "elim"]
	path = elim
	url = git://git.savannah.nongnu.org/elim.git
[submodule "gnus"]
	path = gnus
	url = http://github.com/emacsmirror/gnus.git
[submodule "zencoding"]
	path = zencoding
	url = http://github.com/chrisdone/zencoding.git
[submodule "gist.el"]
	path = gist.el
	url = git://github.com/defunkt/gist.el.git
[submodule "c-eldoc"]
	path = c-eldoc
	url = http://github.com/nflath/c-eldoc.git
[submodule "textmate.el"]
	path = textmate.el
	url = git://github.com/defunkt/textmate.el.git
[submodule "zen-and-art"]
	path = zen-and-art
	url = git://github.com/irfn/zen-and-art.git
[submodule "jdee"]
	path = jdee
	url = git://github.com/emacsmirror/jdee.git
[submodule "nxml"]
	path = nxml
	url = git://github.com/emacsmirror/nxml.git
[submodule "php-mode"]
	path = php-mode
	url = git://github.com/emacsmirror/php-mode.git
[submodule "org-jekyll"]
	path = org-jekyll
	url = git://github.com/juanre/org-jekyll.git
