.bzr
*.elc
auctex
conf.el
*~
*defs.el
.svn
.hg
/python-mode.el-6.1.3/
/modules/flycheck_*.el
custom.el
/.nrepl-port
/.cache/
/.clj-kondo/
/.lsp/
/.persistent-scratch
/elpa/
/epkgs/
/eln-cache/
/chatgpt/
/bookmarks
/eshell/
/org-roam.db
/projectile-bookmarks.eld
/projectile.cache
/quelpa/
/forge-database-v10-20231211-1541.sqlite
/forge-database-v11-20240202-0912.sqlite
/forge-database-v9-20231009-1544.sqlite
/forge-database.sqlite
/.mc-lists.el
/.dap-breakpoints
/straight/
/transient/
/url/
/tree-sitter/
/recentf
