[submodule "auto-complete"]
	path = auto-complete
	url = http://cx4a.org/repo/auto-complete.git
[submodule "org-mode"]
	path = org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "slime"]
	path = slime
	url = http://github.com/nablaone/slime.git
[submodule "clojure-mode"]
	path = clojure-mode
	url = git://github.com/jochu/clojure-mode.git
[submodule "yasnippet"]
	path = yasnippet
	url = http://github.com/crazycode/yasnippet.git
[submodule "swank-clojure"]
	path = swank-clojure
	url = git://github.com/jochu/swank-clojure.git
[submodule "cedet-haskell"]
	path = cedet-haskell
	url = http://github.com/hometown/cedet-haskell.git
